<form [formGroup]="itemFormGroup" novalidate (submit)="addExpense()">
  <div class="form-group">
    <label for="itemName">Item Name</label>
    <input
      type="text"
      id="itemName"
      class="form-control"
      formControlName="name"
    />
  </div>

  <div class="form-group">
    <label for="description">Description</label>
    <textarea
      type="text"
      id="description"
      class="form-control"
      formControlName="description"
    ></textarea>
  </div>

  <div class="form-group">
    <label for="expenseAmount">Expense Amount</label>
    <input
      type="number"
      id="expenseAmount"
      class="form-control"
      [min]="0.0"
      formControlName="expenseAmount"
    />
  </div>

  <div class="form-group text-right">
    <button type="submit" class="btn btn-success">Save</button>
  </div>
</form>
