<table class="table table-dark">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Expense Amount</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let item of items">
            <td>{{item.name}}</td>
            <td>{{item.description}}</td>
            <td>{{item.expenseAmount | currency: 'KES'}}</td>
            <td class="text-right">
                <button class="btn btn-sm btn-light" (click)="editItem(item)">Edit</button>
            </td>
        </tr>
    </tbody>
</table>