<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
    <div class="container">
        <a class="navbar-brand" href="#">PWA - Angular 8</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
               
            </ul>
            
            <a role="button" [routerLink]="['auth/login']" class="btn btn-info mr-3">Login</a>
            <a role="button" [routerLink]="['auth/signup']" class="btn  btn-outline-primary">Signup</a>
            
        </div>
    </div>
</nav>

<div class="container">
    <router-outlet></router-outlet>
</div>
