/* You can add global styles to this file, and also import other style files */
/* Home Banner Area css
============================================================================================ */
.h2 {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    text-align: center;
    color: aqua;
}

